.wrapper .header h1,
.wrapper .content .sidebar .sidebarHeader h2{
    border-color: #e1b331;
}

.watched .fa,
.videoCtrl .fa,
.userMenu .fa,
.wrapper .content .sidebar .videoList ul li.watched .status i,
.wrapper .header .mobileNavigation ul li i,
.wrapper .content .sidebar .videoList ul li.active span.timing span,
.wrapper .content .sidebar .videoList ul li:hover span.timing span{
    color: #e1b331;
}

.wrapper .content .sidebar .videoList ul li:hover,
.sidebar .videoList ul li.active,
.wrapper .content .sidebar .videoList ul li span.timing span{
    background-color: #e1b331;
}
